<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^cache\.php$ - [L]
RewriteRule ^$ /cache.php [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /cache.php [L]
</IfModule>